<% if micropost.any? %>
  <ul class="list-unstyled">
    <% micropost.each do |micropost| %>
      <li class="d-flex">
        <img class="rounded me-2 mb-5" src="<%= gravatar_url(micropost.user, { size: 64}) %>" alt="">
        <div>
          <div>
            <%= link_to micropost.user.name, user_path(micropost.user), class: "text-decoration-none" %><span class="text-muted"> posted at <%= micropost.created_at %></span>
          </div>
          <div>
            <p><%= micropost.content %></p>
          </div>
          <div class="d-inline-flex">
            <% if current_user.favorite?(micropost) %>
              <%= form_with(model: current_user.favorites.find_by(micropost_id: micropost.id), method: :delete) do |f| %>
                <%= hidden_field_tag :micropost_id, micropost.id %>
                <%= f.submit "Unfavorite", class: "btn btn-danger btn-sm me-3" %>
              <% end %>
            <% else %>
              <%= form_with(model: current_user.favorites.build) do |f| %>
                <%= hidden_field_tag :micropost_id, micropost.id %>
                <%= f.submit "Favorite", class: "btn btn-primary btn-sm me-3" %>
              <% end %>
            <% end %>
          
            <% if current_user == micropost.user %>
              <%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-danger btn-sm" %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>