<% if microposts.any? %>
  <ul class="list-unstyled mt-2">
    <% microposts.each do |micropost| %>
      <li class="d-flex">
        <img class="rounded me-2 mb-5" src="<%= gravatar_url(micropost.user, { size: 64}) %>" alt="">
        <div>
          <div>
            <%= link_to micropost.user.name, user_path(micropost.user), class: "text-decoration-none" %><span class="text-muted">posted at <%= micropost.created_at %></span>
          </div>
          <div>
            <p><%= micropost.content %></p>
          </div>
          <div>
            <% if current_user == micropost.user %>
              <%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-danger btn-sm" %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
    <%== pagy_bootstrap_nav(@pagy) %>
  </ul>
<% end %>